footer {
  background-color: var(--primary-color);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, .2);
  border-top: 10px solid var(--secondary-color);
  position: relative;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 4rem 20px 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container > a {
  left: 50%;
  bottom: 86%;
  transform: translateX(-50%);
  z-index: 999;
  position: absolute;
  display: flex;
}

.info {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.info a:hover {
  text-shadow: 3px 3px var(--secondary-color);
  transition: 200ms;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.twitter-icon:hover {
  fill: rgb(64, 190, 226);
  transition: 200ms;
}

.insta-icon:hover {
  fill: rgb(240, 0, 117);
  transition: 200ms;
}

.face-icon:hover {
  fill: rgb(59, 88, 139);
  transition: 200ms;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 4rem
}

.container > div > div:nth-child(1) {
  display: flex;
  gap: 7px;
}

.container > div > div:nth-child(2) {
  display: flex;
}

.container > div a:hover {
  text-shadow: 3px 3px var(--secondary-color);
  transition: 200ms;
}

p {
  display: flex;
  align-items: center;
  gap: 5px;
}

p span {
  font-family: var(--montserrat);
  font-weight: 600;
}

