<header>
  <div class="container">
    <a routerLink="/cardapio" class="navs">
      <span>Cardápio</span>
    </a>
    <a routerLink="/" class="logo-name navs">
      <span>Burgeria</span>
    </a>
    <a routerLink="/" class="logo">
      <img src="./assets/images/burger-logo.svg" alt="logo" title="Burgeria" width="80" height="80"/>
    </a>
    <nav>
      <a routerLink="/carrinho" class="cart-box">
          <img src="./assets/images/cart.svg" alt="carrinho" title="carrinho">
          <span>{{cartQuantity}}</span>
      </a>
    </nav>
  </div>
</header>