div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  color: var(--primary-color);;
}

div a {
  font-family: var(--londrina);
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 3px solid var(--primary-color);
  font-size: 1.4rem;
  border-radius: 10rem;
  padding: .8rem 1.4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  width: fit-content;
  margin: 2rem;
}

div a:hover{
  background-color: #bb6824;
  transition: 200ms;
}