<div class="global-wrapper">
  <app-not-found [style.display]="!cart || !cart.items.length ? 'flex' : 'none'" [visible]="!cart || !cart.items.length" notFoundMessage="Carrinho está vazio!" resetLinkText="Voltar para o cardápio"/>
  <div class="container" *ngIf="cart && cart.items.length" [style.display]="cart && cart.items.length ? 'flex' : 'none'">
    <ul>
      <div>Itens adicionados</div>
      <li *ngFor="let cartItem of cart.items">
        <div class="food-box">
          <img src="{{cartItem.food.imageUrl}}" alt="{{cartItem.food.name}}" title="{{cartItem.food.name}}"/>
        </div>
        
        <div>
          <a routerLink="/cardapio/{{ cartItem.food.nameId }}">
            {{ cartItem.food.name }}
          </a>
        </div>

        <div class="item-price">R$ {{cartItem.price.toFixed(2)}}</div>

        <div class="count-change">
          <img width="15" src="{{cartItem.quantity === 1 ? './assets/images/trash.svg' : './assets/images/minus.svg'}}" (click)="cartItem.quantity === 1 ? removeFromCart(cartItem) : decreaseQuantity(cartItem)"/>
          <div style="font-weight: 300;">{{cartItem.quantity}}</div>
          <img width="15" src="./assets/images/plus.svg" (click)="increaseQuantity(cartItem)"/>
        </div>
      </li>
    </ul>

    <div class="checkout">
      <div>
        <div class="foods-count">{{cart.totalCount}} {{cart.totalCount === 1 ? 'item' : 'itens'}}</div>
        <div class="total-price">
          Total: R$ {{cart.totalPrice.toFixed(2)}}
        </div>
      </div>
      <a routerLink="/checkout">Continuar</a>
    </div>
  </div>
</div>

