.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  height: 100%;
}

.details{
  display: flex;
  flex-direction: column;
  width: 50%;
  color: var(--primary-color);
}

.food-name {
  font-size: 4rem;
  color: var(--secondary-color);
  text-shadow: 3px 2px var(--primary-color);
  letter-spacing: 1px;
  line-height: 70px;
  margin-bottom: 10px;
}

p {
  padding: 25px 0 20px;
  font-size: 24px;
}

.food-price {
  font-size: 36px;
}

img{
  width: 300px;
  justify-content: center;
}

.details button{
  font-family: var(--londrina);
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 3px solid var(--primary-color);
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 10rem;
  margin-top: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  width: fit-content;
}

.details button:hover{
  background-color: #bb6824;
  cursor: pointer;
  transition: 200ms;
}

@media screen and (max-width: 768px) {
  .container {
    flex-flow: column-reverse;
    gap: 2rem;
    margin: 2rem 0 4rem;
  }
  img {
    width: 290px;
  }
}