<div class="container">
  <div class="hero-section">
    <div>
      <img src="./assets/images/hero.png" priority/>
      <p>Não deixe para amanhã o que você pode comer hoje!</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="50 0 998.2 129.25"><g id="Camada_2" data-name="Camada 2"><g id="Camada_1-2" data-name="Camada 1"><path d="M1098.2,123.25v6H1.1Q.54,65.31,0,1.36c383.38,86.5,615,65.89,758.1,27.89C811,15.19,967.8-32.13,1049.93,35.36,1081.59,61.37,1093.27,97.15,1098.2,123.25Z"/></g></g></svg>
  </div>
  <div class="menu-section">
    <div>
      <p>Confira nossos Hambúrgueres!</p>
      <a routerLink="/cardapio">Ver Nosso Cardápio</a>
    </div>
  </div>
  <div class="melt-drop">
    <img src="./assets/images/melt.svg" width="1047" height="53"/>
  </div>
  <div class="app-section global-wrapper">
    <img src="./assets/images/mobile.svg" width="300"/>
    <div>
      <div>
        <p>Baixe nosso App, na palma da sua mão!</p>
        <p>Peça já seu Delivery!</p>
      </div>
      <div class="platform-app">
        <img src="./assets/images/gplay.png" width="180"/>
        <img src="./assets/images/apple.png" width="180"/>
      </div>
    </div>
  </div>
</div>